version: v3
teleport:
  data_dir: {{ teleport_dir }}
  auth_token: {{ teleport_token }}
  ca_pin: {{ teleport_ca_pinx }}
  auth_server: {{ teleport_ip_address }}:3025

  log:
    output: stdout
    severity: INFO

auth_service:
  enabled: "no"

proxy_service:
  enabled: "no"

ssh_service:
  enabled: yes
  labels:
    {% if inventory_hostname in groups['linux_hosts_vscode'] %}vscode: https://{{ inventory_hostname }}{% endif %}
    ssh: {{ inventory_hostname }}

app_service:
    enabled: no

kubernetes_service:
    enabled: no

discovery_service:
    enabled: no

db_service:
  enabled: no

windows_desktop_service:
  enabled: no