version: v3

teleport:
  nodename: teleport_server
  data_dir: {{ teleport_dir }}
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: []

auth_service:
  enabled: yes
  listen_addr: 0.0.0.0:3025
  cluster_name: teleport.aws.ec2
  proxy_listener_mode: multiplex
  authentication:
    second_factor: off

ssh_service:
  enabled: no
#  labels:
#    env: master
#  commands:
#  - name: hostname
#    command: [hostname]
#    period: 1m0s

proxy_service:
  enabled: yes
  web_listen_addr: 0.0.0.0:443
  public_addr: {{ groups['teleport_server'][0] }}:443
  https_keypairs: []
  acme: {}

app_service:
    enabled: no

kubernetes_service:
    enabled: no

discovery_service:
    enabled: no

db_service:
  enabled: no

windows_desktop_service:
  enabled: no